In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt

# Step 1: Load the Diabetes and Adult Income Datasets

# Replace with your file paths
diabetes_data = pd.read_csv('Diabetes.csv')
adult_income_data = pd.read_csv('adult.csv')

# Display the first few rows of both datasets
print("Diabetes Dataset:")
print(diabetes_data.head())

print("\nAdult Income Dataset:")
print(adult_income_data.head())

# Step 2: Data Cleaning

## Handling Missing Values

# Separate the numerical and categorical columns for Diabetes
diabetes_numerical_cols = diabetes_data.select_dtypes(include=[np.number]).columns
diabetes_categorical_cols = diabetes_data.select_dtypes(include=[object]).columns

# Impute numerical columns with median
diabetes_imputer_num = SimpleImputer(strategy='median')
diabetes_data[diabetes_numerical_cols] = diabetes_imputer_num.fit_transform(diabetes_data[diabetes_numerical_cols])

# For categorical columns, impute with the most frequent value (mode)
diabetes_imputer_cat = SimpleImputer(strategy='most_frequent')
diabetes_data[diabetes_categorical_cols] = diabetes_imputer_cat.fit_transform(diabetes_data[diabetes_categorical_cols])

# Adult Income Dataset: Impute missing values for numerical and categorical columns
# Separate numerical and categorical columns for Adult Income
adult_income_numerical_cols = adult_income_data.select_dtypes(include=[np.number]).columns
adult_income_categorical_cols = adult_income_data.select_dtypes(include=[object]).columns

# Impute numerical columns with median
adult_income_imputer_num = SimpleImputer(strategy='median')
adult_income_data[adult_income_numerical_cols] = adult_income_imputer_num.fit_transform(adult_income_data[adult_income_numerical_cols])

# For categorical columns, impute with the most frequent value (mode)
adult_income_imputer_cat = SimpleImputer(strategy='most_frequent')
adult_income_data[adult_income_categorical_cols] = adult_income_imputer_cat.fit_transform(adult_income_data[adult_income_categorical_cols])

## Handling Categorical Data

# For Adult Income dataset: Convert categorical columns into numerical using Label Encoding
categorical_columns_adult = adult_income_data.select_dtypes(include=['object']).columns
label_encoder = LabelEncoder()

for col in categorical_columns_adult:
    adult_income_data[col] = label_encoder.fit_transform(adult_income_data[col])

## Handling Outliers

# For outlier detection, let's use the IQR method

def detect_and_remove_outliers(df):
    # Select only numerical columns for outlier detection
    numerical_df = df.select_dtypes(include=[np.number])

    # Calculate the IQR for each numerical column
    Q1 = numerical_df.quantile(0.25)
    Q3 = numerical_df.quantile(0.75)
    IQR = Q3 - Q1

    # Filter out rows with outliers (outside of the range Q1 - 1.5 * IQR and Q3 + 1.5 * IQR)
    return df[~((numerical_df < (Q1 - 1.5 * IQR)) | (numerical_df > (Q3 + 1.5 * IQR))).any(axis=1)]

# Remove outliers from both datasets
diabetes_data_cleaned = detect_and_remove_outliers(diabetes_data)
adult_income_data_cleaned = detect_and_remove_outliers(adult_income_data)

# Step 3: Data Transformations

## Min-Max Scaler/Normalization

# Normalize the datasets using Min-Max Scaler
min_max_scaler = MinMaxScaler()

# For Diabetes dataset, assume that numerical columns are all columns except the target variable
diabetes_numerical_cols = diabetes_data_cleaned.select_dtypes(include=[np.number]).columns
diabetes_data_normalized = diabetes_data_cleaned.copy()

# Normalize numerical columns using MinMaxScaler
diabetes_data_normalized[diabetes_numerical_cols] = min_max_scaler.fit_transform(diabetes_data_cleaned[diabetes_numerical_cols])

# For Adult Income dataset, apply MinMaxScaler to the numerical columns
adult_income_numerical_cols = adult_income_data_cleaned.select_dtypes(include=[np.number]).columns
adult_income_data_normalized = adult_income_data_cleaned.copy()

# Normalize numerical columns using MinMaxScaler
adult_income_data_normalized[adult_income_numerical_cols] = min_max_scaler.fit_transform(adult_income_data_cleaned[adult_income_numerical_cols])

## Standard Scaler

# Standardize the datasets using Standard Scaler
standard_scaler = StandardScaler()

# For Diabetes dataset, standardize numerical columns
diabetes_data_standardized = diabetes_data_cleaned.copy()
diabetes_data_standardized[diabetes_numerical_cols] = standard_scaler.fit_transform(diabetes_data_cleaned[diabetes_numerical_cols])

# For Adult Income dataset, standardize numerical columns
adult_income_data_standardized = adult_income_data_cleaned.copy()
adult_income_data_standardized[adult_income_numerical_cols] = standard_scaler.fit_transform(adult_income_data_cleaned[adult_income_numerical_cols])

Diabetes Dataset:
    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

Adult Income Dataset:
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [3]:
import pandas as pd

# i. Load .csv file into the DataFrame
filename = 'housing.csv'
housing_data = pd.read_csv(filename)

# ii. Display information of all columns
print("Information of all columns:")
print(housing_data.info())

# iii. Display statistical information of all numerical columns
print("\nStatistical information of all numerical columns:")
print(housing_data.describe())

# iv. Display the count of unique labels for the "Ocean Proximity" column
print("\nCount of unique labels for 'Ocean Proximity' column:")
print(housing_data['ocean_proximity'].value_counts())

# v. Display which attributes (columns) have missing values count greater than zero
print("\nColumns with missing values count greater than zero:")
missing_values = housing_data.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

Information of all columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

Statistical information of all numerical columns:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

Count of unique labels for 'Ocean Proximity' column:
ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

Columns with missing values count greater than zero:
total_bedrooms    207
dtype: int64